body {
    text-align: center;
    /* font-family: "Open Sans"; */
}

* {
    user-select: none;
}

.map {
    margin: 0 auto;
    width: 1100px;
    height: 700px;
    background-image: url(map.png);
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: tomato;
}


/* BOX */

.box {
    display: none;
    width: 200px;
    /* height: 100px; */
    background: rgb(228, 186, 186);
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: -160px;
    box-shadow: 00px 0px 10px #000;

}

.dot:hover .box {
    display: block;
}

.box__city {
    font-size: 20px;
}

.box__description {
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.btn {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    background: tomato;
}

.kyiv {
    float: left;
    margin-top: 230px;
    margin-left: 530px;
    /* clear: both; */
}

.lviv {
    float: left;
    margin-top: 250px;
    margin-left: -280px;

}

.donetsk {
    float: left;
    margin-top: 120px;
    margin-left: 835px;
}

.ternopil {
    float: left;
    margin-top: 25px;
    margin-left: -525px;
    /* clear: both; */
}
